@import url("fonts/fonts.css");
body{font-family: 'Open Sans', sans-serif;margin:4px 0;background:#F4F4F4;}
h3{font-size:17px;}
img{max-width:100%;}
.left{float:left;}
.right{float:right;}
.header{width:1000px;margin:0 auto;}
.logo,.nav{float:left;}
.logo{width:9.2%;margin-top:5px;}
.nav ul{margin-top:11px;padding-left:10px;margin-bottom:0;}
.nav .last{padding-right:10px!important;}
.header .nav li{display:inline-block;text-transform: uppercase;padding-right:30px;}
.header a{text-decoration: none;}
.header .nav a{color:#E3E3E3;font-weight: bolder;font-size:28px;}
.header .nav a.active,.header .nav a:hover{color:#27A8E2;border-bottom:8px solid #27A8E2;}
.clearfix{clear:both;}
.mainnav{background:#27A8E2;padding:10px 0;margin-top:3px;}
.header .registration{font-size:16px;font-weight: bold;text-align: right;margin-top:15px;}
.header .registration a{color:#27A8E2;}
.bgblue{background:#27A8E2;color:#FFF!important;}
.ml15{margin-left: 15px;}
.anchors{padding:0;width:1000px;margin:0 auto;}
.anchors li{display:inline-block;padding-right:20px;}
.anchors li a{text-decoration:none;color:#FFF;text-transform: uppercase;font-size:13px;font-weight:bold;}
.anchors li a.active,.anchors li a:hover{color:#e3e3e3;}
.cart{background: rgba(0, 0, 0, 0) url("../images/cart.png") no-repeat scroll 0 0;
    height: 39px;
    margin-top: 5px;
    width: 61px;}
.navigations{width:90.8%;}
.cart-count{text-align: center!important;display:block!important;padding-top:13px;font-weight:bold;}
.cart-count a{color:#27A8E2!important;font-size:14px!important;}
.subnav ul{margin-bottom:0;margin-top:23px;padding-left:0;}
.subnav li{display:inline-block;padding:0 10px;border-right:1px solid #000;line-height:13px;}
.subnav a{text-transform: uppercase;text-decoration:none;color:#555;font-weight:bold;font-size:14px;}
.subnav .last{padding-right:0;border-right: none;}
.blue{color:#27A8E2;}

.maindiv{width:1000px;margin:0 auto;}
.sidebar{padding-left:0;padding-right:0;}
.sidebar h2{background:#FFF;text-transform: uppercase;padding: 8px 0 8px 20px;color: #555;font-size:17px;margin-bottom:0;font-weight:bold;}
.filter{background:#43C0F6;padding:20px;}
.filter .fil-group{display:block;width:178px;background:#EDEFEC;margin-bottom:8px;border-left:1px solid #43C0F6;}
.filter .fil-group ul{display:none;}
.filter .fil-group ul li{background:#F3F3F3;border-bottom:#ddd solid 1px;}
.filter .fil-group ul li a{text-decoration:none;color:#555;font-size:14px;padding: 5px;display:block;}
.filter a.fil{display:block;color:#555; height:23px;text-decoration:none;padding-left:5px;font-size:15px;}
.fil-group .fa{float:right;display:inline-block;padding:3.5px 4px;color:#999}
.gap{height:8px;}
.btn {
    text-decoration:none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.btn-group-lg > .btn, .btn-lg {
    border-radius: 2px;
    font-size: 17px;
    line-height: 1.33333;
    padding: 8px 30px;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
             box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.filter ul{list-style: none;margin:0;padding:0;}
.right-content{margin-top:20px;}
.banner{margin-bottom:15px;}
.listing{background:#FFF;margin:10px 0;padding:10px;}
.listing .img{float:left;padding-right:10px;}
.listing .txt{float: right;
    padding: 5px;
    width: calc(100% - 100px);}
.listing h3{margin-bottom: 5px;
    margin-top: 0;font-weight: bold;}
.datetime{background:#DFDFDF;display:inline-block;padding:4px;font-size:14px;}
.racetag{display:inline-block;padding:3px 10px;font-size:14px;border:2px solid #e5e5e5;border-radius:3px;}
.distance{background:#DF0269;color:#FFF;font-weight:bold;display:inline-block;font-size:13px;padding:1px 8px;border-radius:10px;margin-right:10px;margin-top:8px;}
.calendar-view{display:block;background:#FFF;color:#555;text-transform:uppercase;padding-left:15px;font-size:16px;padding: 8px 8px 8px 20px;text-decoration: none;}
.calendar-view:hover{text-decoration:none;}
.submit-event{display:block;background:#EB0067;color:#FFF;text-transform:uppercase;padding-left:15px;font-size:16px;padding: 8px 8px 8px 20px;text-decoration: none;}
.submit-event:hover{text-decoration:none;}
.loadmore{border:1px solid #AAA;}
.footer{border-top:#07A1E7 10px solid;background:#2A303E;padding:20px 0;margin: 20px 0 0 0;}
.footerin{width:1000px;margin:0 auto;}
.footer_racetype ul{list-style: none;padding-left:0;}
.nopaddleft{padding-left:0;}
.logo_footer{width:14%;float:left;}
.footer_links{width:86%;float:left;}
.nopadd{padding:0;}
.footer_racetype li{border-bottom:1px solid #29ABE9;padding:3px 0;	}
.footer_racetype li:hover{border-bottom:1px solid #FFF;	}
.footer_racetype a{color:#29ABE9;font-weight:bold;font-size:31px;text-transform:uppercase;}
.footer_racetype a:hover{text-decoration: none!important;color:#FFF;}
.quick-link{color:#FFF;}
.quick-link h2{margin-top:0;font-size:22px;margin-top:7px;}
.quick-link a{color:#FFF;text-decoration:none;font-size:15px;}
.quick-link ul{list-style:none;padding-left:0;margin-top:20px;}
.quick-link li{padding: 3px 0;}
.footer_social a{display:block;text-align:center;margin-bottom:15px;}
#loginModal .modal-header{background: #01A5EC;color:#FFF;}
.close{color:#FFF;opacity:100;}
.remember{text-align:center;font-size: 15px;margin-top:20px;color:#888;}
#loginModal .modal-footer{background:#010101;color:#FFF;text-align:center;}
#loginModal .modal-footer a{color:#27A8E2;text-decoration:none;}
.footer-low{background:#FFFFFF;border-bottom: 1px sol #e5e5e5;padding:5px 0;}
.footer-low-in{color:#888;margin:0 auto;width:1000px;font-weight:600;margin-bottom:2px;}