@import url("fonts/fonts.css");
body{font-family: 'Lato', sans-serif;margin:4px 0;background:#F4F4F4;}
h3{font-size:17px;}
h1{margin-top:0;font-size:28px;}
img{max-width:100%;}
.left{float:left;}
.right{float:right;}
.header{width:1100px;margin:0 auto;padding:0 15px;}
.logo,.nav{float:left;display:block;}
.logo{width:9.2%;margin-top:5px;}
.nav ul{margin-top:11px;padding-left:10px;margin-bottom:0;}
.nav .last{padding-right:10px!important;}
.header .nav li{display:inline-block;text-transform: uppercase;padding-right:30px;}
.header a{text-decoration: none;}
.header .nav a{color:#E3E3E3;font-weight: bolder;font-size:28px;}
.header .nav a.active,.header .nav a:hover{color:#27A8E2;border-bottom:8px solid #27A8E2;}
.clearfix{clear:both;}
.mainnav{background:#27A8E2;padding:10px 0;margin-top:3px;}
.header .registration{font-size:16px;font-weight: bold;text-align: right;margin-top:15px;}
.header .registration a{color:#27A8E2;}
.bgblue{background:#27A8E2;color:#FFF!important;}
.ml15{margin-left: 15px;}
.anchors{padding:0 15px;width:1100px;margin:0 auto;}
.anchors li{display:inline-block;padding-right:20px;}
.anchors li a{text-decoration:none;color:#FFF;text-transform: uppercase;font-size:13px;font-weight:bold;}
.anchors li a.active,.anchors li a:hover{color:#e3e3e3;}
.cart{background: rgba(0, 0, 0, 0) url("../images/cart.png") no-repeat scroll 0 0;
    height: 39px;
    margin-top: 5px;
    width: 61px;}
.navigations{width:90.8%;}
.cart-count{text-align: center!important;display:block!important;padding-top:13px;font-weight:bold;}
.cart-count a{color:#27A8E2!important;font-size:14px!important;}
.subnav ul{margin-bottom:0;margin-top:23px;padding-left:0;}
.subnav li{display:inline-block;padding:0 10px;border-right:1px solid #000;line-height:13px;}
.subnav a{text-transform: uppercase;text-decoration:none;color:#555;font-weight:bold;font-size:14px;}
.subnav .last{padding-right:0;border-right: none;}
.blue{color:#27A8E2!important;}

.maindiv{width:1100px;margin:0 auto;}

.sidebar h2{background:#FFF;text-transform: uppercase;padding: 8px 0 8px 20px;color: #555;font-size:17px;margin-bottom:0;font-weight:bold;}
.filter{background:#43C0F6;padding:20px;}
.filter .fil-group{display:block;width:100%;background:#EDEFEC;margin-bottom:8px;border-left:1px solid #43C0F6;}
.filter .fil-group ul{display:none;}
.filter .fil-group ul li{background:#F3F3F3;border-bottom:#ddd solid 1px;}
.filter .fil-group ul li a{text-decoration:none;color:#555;font-size:14px;padding: 5px;display:block;}
.filter a.fil{display:block;color:#555; height:23px;text-decoration:none;padding-left:5px;font-size:15px;}
.fil-group .fa{float:right;display:inline-block;padding:3.5px 4px;color:#999}


.filter2 .fil-group{background: #edefec none repeat scroll 0 0;
    border-radius: 4px;
    display: block;
    margin: 8px 0;
    width: 100%;}
.filter2 .fil-group ul{display:none;}
.filter2 .fil-group ul li{background:#F3F3F3;border-bottom:#ddd solid 1px;}
.filter2 .fil-group ul li a{text-decoration:none;color:#555;font-size:14px;padding: 5px;display:block;}
.filter2 a.fil{ color: #555;
    display: block;
    font-size: 15px;
    height: 30px;
    padding: 3px 5px 5px;
    text-decoration: none;
}
.fil-group .fa{float:right;display:inline-block;padding:3.5px 4px;color:#999}
.filter2 .fil-group .fa{color: #444 !important;}
.gap{height:8px;}
.btn {
    text-decoration:none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.btn-group-lg > .btn, .btn-lg {
    border-radius: 2px;
    font-size: 17px;
    line-height: 1.33333;
    padding: 8px 30px;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
             box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.filter ul{list-style: none;margin:0;padding:0;}
.right-content{margin-top:20px;}
.banner{margin-bottom:15px;}
.listing{background:#FFF;margin:10px 0;padding:10px;display:block;}
.listing .img{float:left;padding-right:10px;width:120px;padding-top:5px;}
.listing .txt{float: right;color:#444;
    padding: 5px;
    width: calc(100% - 120px);}
.listing h3{margin-bottom: 5px;
    margin-top: 0;font-weight: bold;}
.datetime{background:#DFDFDF;display:inline-block;padding:4px 12px;font-size:14px;}
.racetag{display:inline-block;padding:3px 10px;font-size:14px;border:2px solid #e5e5e5;border-radius:3px;}
.distance{background:#DF0269;color:#FFF;font-weight:bold;display:inline-block;font-size:13px;padding:1px 8px;margin-right:10px;margin-top:8px;}
.calendar-view{display:block;background:#FFF;color:#555;text-transform:uppercase;padding-left:15px;font-size:16px;padding: 8px 8px 8px 20px;text-decoration: none;}
.calendar-view:hover{text-decoration:none;}
.submit-event{display:block;background:#EB0067;color:#FFF;font-weight:900;padding-left:15px;font-size:14px;padding: 7px 7px 7px 20px;text-decoration: none;}
.submit-event:hover{text-decoration:none;}
.loadmore{border:1px solid #AAA;}
.footer{border-top:#07A1E7 10px solid;background:#2A303E;padding:20px 0;margin: 20px 0 0 0;}
.footerin{width:1100px;margin:0 auto;padding:0 15px;}
.footer_racetype ul{list-style: none;padding-left:0;}
.nopaddleft{padding-left:0;}
.logo_footer{width:14%;float:left;}
.footer_links{width:86%;float:left;}
.nopadd{padding:0;}
.footer_racetype li{border-bottom:1px solid #29ABE9;padding:3px 0;	}
.footer_racetype li:hover{border-bottom:1px solid #FFF;	}
.footer_racetype a{color:#29ABE9;font-weight:bold;font-size:31px;text-transform:uppercase;}
.footer_racetype a:hover{text-decoration: none!important;color:#FFF;}
.quick-link{color:#FFF;}
.quick-link h2{margin-top:0;font-size:22px;margin-top:7px;}
.quick-link a{color:#FFF;text-decoration:none;font-size:15px;}
.quick-link ul{list-style:none;padding-left:0;margin-top:20px;}
.quick-link li{padding: 3px 0;}
.footer_social a{display:block;text-align:center;margin-bottom:15px;}
#loginModal .modal-header{background: #01A5EC;color:#FFF;}
.close{color:#FFF;opacity:100;}
.remember{text-align:center;font-size: 15px;margin-top:20px;color:#888;}
#loginModal .modal-footer{background:#010101;color:#FFF;text-align:center;}
#loginModal .modal-footer a{color:#27A8E2;text-decoration:none;}
.footer-low{background:#FFFFFF;border-bottom: 1px sol #e5e5e5;padding:5px 0;}
.footer-low-in{color:#888;margin:0 auto;width:1100px;font-weight:700;margin-bottom:2px;padding:0 15px;}
.form-control-feedback{right:12px;}

.breadcrumb{background:#FFF;border:1px solid #e3e3e3;padding:0;margin-top:20px;border-radius:2px;font-size:13px;color:#555;}
.breadcrumb img{padding-right:5px;}
.home_bread{display:inline-block;width:25px;text-align:center;background:#f4f4f4;height:25px;font-size:15px;color:#27A8E2;}

.right-point{height:24px;}
.right-point_w{height:24px;}

.registration h2{color:#666;}
.dobs select,.profile_detail select{ 
    color: #555;
    font-weight: bold;
    height: 30px;
    margin-right: 2%;
    padding: 0;
    text-align: center;
    width: 31%;
}
.whitebg{background:#FFF;border:1px solid #AAA;}
.fullwidth{width:100%;}
.center{text-align:center;}

.dashboard_menu{background:#27A8E2;}
.dashboard_menu ul{margin:0;padding:0;list-style:none;}
.dashboard_menu a{color:#FFF;font-weight:700;display:block;padding:7px 10px 7px 20px;border-bottom:1px solid #FFF;}
.dashboard_menu a:hover{text-decoration:none;border-bottom:1px solid #333;background:#000;}
.dashboard_menu a.active{border-bottom:1px solid #333;background:#000;}
.race_wallet{display:block;background:#FFF;color:#555;text-transform:uppercase;padding-left:15px;font-size:16px;padding: 8px 8px 8px 20px;text-decoration: none;font-weight: 600;}
.race_wallet:hover{text-decoration:none;}
.profile_detail label{font-weight: normal;}
span.required{color:#eb0067;}
.profilepic .btn{min-width:100px;margin-bottom:10px;}
.profile_img{background:#FFF;border:5px solid #DDD;width:215px;height:215px;float:left;}
.club_img{background:#FFF;border:5px solid #DDD;height: 190px;width:230px;float:left;}
.picact{margin-top:15px}

.control-group a.selectBox{width:200px;}
.control-group .sn_group a.selectBox {width:85px!important;}
.crop_image_holders{border:1px solid #FFF; max-width:670px; border:1px solid #CCC; padding:15px; margin-bottom:10px;}
.crop_image_holders .jcrop-holder{border:1px solid #FFF;}
.crop_image_holders .select_buttons{margin-bottom:10px;}
.crop_image_holders .select_buttons .lefts{width:405px; color:#333; font-size:13px; padding-top:5px; float:left;}
.crop_image_holders .select_buttons .rights{width:150px; float:left;}
.crop_image_holders .jcrop-holder{border:1px solid #CCC; background:#FFF;}

ul.floating_lists li a.selectBox {width:200px;}
ul.floating_lists li{margin-bottom:10px;}
.near_by_rest{}
.near_by_rest h2.res_heading{background:url(../images/near_by.png) no-repeat;  color: #006699;    font-size: 17px;  margin-bottom: 0; padding-left: 40px; padding-top:4px; padding-bottom:4px;}
.near_by_rest ul li{list-style:none; border-bottom:1px solid #dddddd; padding-bottom:10px; margin-bottom:10px;}
.near_by_rest ul li h3{font-size:18px; margin-bottom:3px;}
.near_by_rest ul li p{margin-bottom:0;}
.body_content_right form.well{padding:15px!important;}
/* .body_content_right form.well input#keyword{width:184px!important;} */

.left {float: left !important;}
.right {
    float: right !important;
}


.crop_outer{border:1px solid #CCC; padding:18px; background:#f2f2f2;}
.crop_outer form{margin:0; padding:0;}
.crop_top p.left{width:auto; padding-top:5px; float:left;}
.crop_top{padding-bottom:15px;}
.crop_top .right{width:160px; float:left;}
.crop_img_sec{border:1px solid #CCC; background:#FFF;  overflow:hidden;}
.crop_img_sec img{width:auto; height:auto;}

.ui-widget-content{background:none!important; border:0!important;}
.ui-dialog-titlebar{background:none!important; border:0!important;}
/*.ui-widget-header .ui-icon{background:url(../images/cancel_button.png) no-repeat!important; width:35px; height:35px;}*/
a.ui-dialog-titlebar-close{width:35px!important; height:35px!important; z-index:99999; top:35px!important; display:none!important;}

.ui-datepicker{background:#EEE!important; border:5px solid #CCC!important;}
.ui-dialog{width:auto;height:auto;}
.ui-dialog-content .crop_outer{  border: 5px solid white; width:auto;}
.outer_popups{background:#FFF; border:1px solid #CCC; height:856px; overflow:hidden;}
.outer_popups .inner{padding:13px;}
.top_titles .titles_left{width:auto; float:left;}
.top_titles .title_right{width:auto; border-left:1px solid #CCC; float:right;}
.top_titles{height:48px; background:#e8e8e8; border:1px solid #CCC;}
.top_titles h2{font-size:15px; font-weight:bold; padding-left:18px; padding-top:10px; text-align: center;}
.top_titles .title_right a{background:url(../images/menu_close.gif) no-repeat; width:48px; height:48px; display:block; text-indent:-999px; overflow:hidden;}
.outer_popups .inner_borders{border:1px solid #CCC; overflow:hidden;}
.outer_popups .pop_up_forms{padding:15px;}
.outer_popups{position:relative; box-shadow: 8px 10px 7px rgba(0, 0, 0, 0.80);  -moz-box-shadow: 8px 10px 7px rgba(0, 0, 0, 0.80); -webkit-box-shadow: 8px 10px 7px rgba(0, 0, 0, 0.80); margin-bottom:20px;}
	
.outer_popups .pop_up_forms .fl_left{width:50px; float:left;}
.outer_popups .pop_up_forms .fl_right{width:364px; float:right;}
.outer_popups .pop_up_forms .flt_frms{margin-bottom:10px;}
.outer_popups .pop_up_forms{width:415px;}
.outer_popups .pop_up_forms input[type="text"]{width:255px;}
.icon-circle{color:#049DDC;font-size:33px;text-align:center;}
.center-align{text-align: center;}
.description{height:160px!important;}

.capital{text-transform: uppercase;}
.white{background:#FFF;border: 1px solid #CCC;padding-top:15px;padding-bottom:15px;}
.white label{font-weight:700;font-size:20px;text-transform: uppercase;color:#333}
.white input{background:#f5f5f5;}
.white .fa{color:#049DDC;}
.fa-calendar{font-size:18px;}

.fa-sort{float:right;color:#FFF!important;line-height:20px}
.inline-block{display: inline-block;width:200px;margin-left:15px;}
.padding-bot-10{padding-bottom:10px;}
.padding-left-0{padding-left:0;}
a.dropdownselect{background:#0095E7;display:block;color:#FFF;padding:4px 8px;border-radius: 4px;position:relative;font-weight: bold;}
a.dropdownselect:hover{text-decoration:none;}
.dropdownselect .line{font-size: 26px;
    line-height: 0.8;
    position: absolute;
    right: 20px;
    top: 0;
    font-weight: normal!important;}
.drop-option a{display:block;padding:4px 8px;background:#f5f5f5;color:#777;border-bottom:1px solid #e5e5e5;}
.drop-option a:hover{text-decoration: none;}
.distances span{display:inline-block;font-size:18px;}
.three{width:50px;}
.three, .two,.one,.four {
    border: 1px solid #CCC;
    padding: 2px 6px;
}
.one {
    width: 22px;
}
.two{width:40px;}
.four{width:70px;}
.distances .col-md-4:not(.start){border-left:1px solid #000;min-height: 58px;}
.distances .small{font-size: 13px;font-weight: bold;display:block;padding-top:5px;}
.distances input{color:#000;}
.distance_list{list-style:none;margin-top:10px;}
.distance_list .blue{font-size:15px;}
.distance_list li{background:#F4F4F4;margin-bottom:5px;padding:5px;position: relative;}
.delete_distance{position:absolute;display:inline-block;right:10px;top:5px;color: #000;}
.delete_distance .fa-times{color:#000;}
.white label .blue{font-size: 13px;
    text-transform: none;display:block;}

.clubs {    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: block;
    margin: 2px;
    padding: 5px;}
.news_article{  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding-top: 20px;color:#555;}
.news a, .news_more a{ text-decoration:none;}
.block_border{background: #fff; border:1px solid #ccc;margin-bottom: 10px; padding:5px;}
.event_img{width:380px;height:285px;margin-right:45px;}
.picact .btn{width: 250px; padding: 7px 0; text-align:center;    
    border:2px solid #000;color:#199ED9;font-size: 20px;color:#000;text-transform:uppercase;font-weight: bold;}
.picact .btn-crop{border:2px solid #1EA7E7;color:#1EA7E7}
.picact .btn-remove{border:2px solid #E00000;color:#E00000}
.org_group{margin-top:10px;}
.submit_group{border-left:3px solid #BDBDBD;border-right: 3px solid #bdbdbd;}
.submit_group .col-md-6{text-align:center;padding-top:15px;padding-bottom: 15px;}
.btn-submit{border:2px solid #454545;color: #454545;padding: 10px 15px;width:85%;font-size:21px;font-weight:bold;}
.dist_lab{display:inline-block;width:80px;padding-bottom:5px;}
.checkboxes input{margin-right:10px;margin-bottom:10px;}
.checkboxes{padding-left:0!important;}
.bcrumb a,.bcrumb span{text-transform: lowercase;padding: 5px 10px;display:inline-block;float:left;color:#666;font-size:13px;font-weight: 600;}
.bcrumb i{float:left;}
.b_sep{background:url('../images/bread.png') no-repeat;height:30px; width:11px;display:inline-block;}
.detail_page{padding:10px 20px;}
.detail_heading {
    padding-top:10px;
    color: #777;
    font-size: 36px;
    line-height: 25px;
}
.detail_heading span{font-size:15px;font-weight:700;}
.wallpaper{background: #0af none repeat scroll 0 0;
            height: 200px;
            margin-bottom: 10px;
            width: 100%;background:url('../images/no_img.jpg') no-repeat;}
.btn-follow{background: #0198e9 none repeat scroll 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    width: 100%;}
.mem_count{font-weight:700;margin-top:10px;}
.follow_icons a{border: 5px solid #555;
    border-radius: 69px;
    color: #555;
    display: inline-block;
    font-size: 22px;
    padding: 9px 10px;
    text-align: center;
    width: 60px;}
.phone_number{font-weight:700;color:#555;font-size:16px;}
.sharing a,.total_share{display:inline-block;height:30px;float:left;margin-right:5px;}
.total_share{color:#007DCB;margin-left:10px;font-size:20px;font-weight:700;}
.sharing a:hover{color:#FFF;text-decoration:none;}
.btn-facebook{background:#31629A;color:#FFF;padding:7px 14px;font-size:13px;border-radius:2px;}
.btn-twitter{background:#21C3F1;color:#FFF;padding:7px 14px;font-size:13px;border-radius:2px;}
.btn-plus{background:url('../images/plus.png') no-repeat;width:30px;height:30px;}
.sharing{margin-bottom:15px;}
.padding-left-10{padding-left:10px;}
.website{font-size:18px;font-weight:700;margin-bottom:15px;}
.website a:hover{text-decoration:none;}
.red{color:#E20054;font-weight:700}
.venue_detail{color:#000;font-size:16px;font-weight:700;}
.toggle-div a{color:#444;font-size:18px;}
.Members_name{font-weight: 600;color:#444;font-size:16px;}
.results{display:inline-block;background:#262626;color:#FFF;padding:4px 12px;border-radius:4px;font-size:13px;font-weight:700;margin-top:3px;}
.race-reviews{font-size:14px;font-weight:700;padding-top:5px;}
.btn-loadmore{background:#FFF;border:#999 solid 2px;color:#777;font-weight:700;margin-bottom:10px;}
.cross span{color:#444!important;font-weight:400;}
.cross{display:inline-block;float:right;}
.flyer .fa{color:#444;font-weight: bold;}
.flyer_list{list-style:none;margin:0;}
.flyer_list li{background: #0393d9 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;margin-top:5px;}
.flyer_list li a{float:right;display:inline-block;color:#FFF!important;}
.flyer_list .cross span{font-weight:bold;color:#FFF!important;}
#uploadFileflyer{padding-left:0;}
.errors{color:#BE1E1E;}
.blocks{padding:10px;}
h3.blue{font-weight:bold;margin-top:0;}
.big_font{font-weight:700;text-transform: uppercase;padding-right:10px;}
.blue_bg{background: #0498CE none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 8px;
    padding: 1px 8px;}
.social_share{padding-top: 15px}
.responsive{max-width:100%;}
.img-holder{padding:10px;border:2px solid #e5e5e5;}
.result_submit_black{background:#111111;color:#FFF;text-transform: uppercase;font-weight:700;text-align:center;display:block;padding:10px;font-size:18px;margin-bottom:10px;}
.result_submit_black:hover{text-decoration:none;color:#ccc;}
.result_submit_black:focus{color:#fff;outline:none;text-decoration:none;}
.result_submit_red{background:#ED0166;color:#FFF;text-transform: uppercase;text-align:center;display:block;padding:10px;font-size:16px;margin:10px 0;}
.result_submit_red:hover{text-decoration:none;color:#ccc;}
.result_submit_red:focus{color:#fff;outline:none;text-decoration:none;}
.expand_block{display:block;padding-top:2px;padding-bottom:2px;color:#444;font-size:15px;font-weight:700;}
.expand_block .fa{color:#444!important;font-size:18px;}
.floatLeft{float:left;}
.floatRight{float:right;}
.padtopbot5{padding-top:5px;padding-bottom:5px;margin-top:10px;margin-bottom:10px;}
.expand_block:focus{outline: none!important;}
.small_bold{font-size: 13px;font-weight: bold;}
.e_dis{color:#444;font-size:20px;font-weight:700;padding-bottom:5px;}
.e_dis_block {
    float: left;
    padding-left: 14px;
    width: 59px;
}
.e_dis_submit {
    color: #444;
    font-size: 19px;
    font-weight: 900;
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: right;
    width: 40%;
}
.e_dis_bottom {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.blackSubmit{background:#010101;padding:15px 20px;margin-top:15px;width:100%;}
.blackSubmit a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #01a5ec none repeat scroll 0 0;
    border-color: #0097da;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 3px;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 5px 36px;
    text-align: center;
    width: 245px;
    margin:  0 auto;
}
.blackSubmit a:hover{text-decoration:none;}
.e_dis_bottom input{font-size:16px;text-align:center;}
.submit_input{background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 37px;
    max-width: 100%;
    width: 46px;}
.e_time{color:#AAA;font-size:20px;font-weight:700;}
.e_cost{color:#07A1E7;font-size:20px;font-weight:700;}
.pad-top-10{padding:10px 0;}
.contact_organizer{ border: 2px solid #aaa;
    color: #666;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 15px;
    text-transform: uppercase;margin:10px 0;}
.contact_organizer:hover{text-decoration:none;color:#666;}
.contact_organizer .fa{color:#666;}
.bluebg{background:#01A5EC;color:#FFF;}
.blackbg{
    border-top: 1px solid #888;
    font-size: 13px;
    padding: 6px 0 8px;
    text-align: center;
    background:#010101;color:#FFF;}
.gap{height: 10px;}
.submit-result-block{margin-top:10px;}
.submit-result-form{background:#FEFEFE;padding:20px 0;}
.attending{background:#DFDFDF;padding:7px 5px;margin-top:10px;}
.attending .col-md-3{font-weight:700;font-size:17px;padding-top:3px;}
.attending-msg,.yes,.no{display:inline-block;margin-right:15px;font-size:16px;font-weight:700;}
.yes,.no{padding:5px 0;color:#FFF;border-radius:4px;width:65px;text-align:center;}
.yes:hover,.no:hover{text-decoration:none;color:#FFF;}

.calendar{width:100%;}
.anchor-left,.anchor-right{width:25px;}
.anchor-right{float:right;}
.anchor-left{float:left;}
.month{float:left;width: calc(100% - 50px);text-align:center;font-weight: 700;font-size:15px;}
.calendar-head{background:#EFEFEF;padding:5px;}
.days td{text-align:center;color:#888;font-weight:700;}
.calendar-body td a{
    display: block;
    margin: 5px;
    padding: 7px;
    text-align: center;text-decoration:none;font-weight:700;}
.calendar-body td{border-top:none!important;font-size:15px;}
.day_num{padding:0!important;} 
.blue-heading{background:#029BDE;margin-top:0;padding:7px;text-align:center;color:#FFF;}
.bg-grey{background:#AAB0BC;}
.bg-grey-light{background:#EEE;color:#666;position: relative;}
.bg-blue-light{background:#0299E2;color:#FFF;position:relative;}
.bg-blue{background:#01A4F1;color:#FFF;}
.bg-grey:hover,.bg-blue:hover{background:#000;}
.bg-grey:focus,.bg-blue:focus{outline:none;text-decoration:none;color:#FFF;}
.bg-grey-light:focus,.bg-blue-light:focus{outline:none;text-decoration:none;}
.event_counter{background: #444 none repeat scroll 0 0;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 17px;
    line-height: 1.3;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    width: 17px;
}
.upper{text-transform:uppercase}
.calendar_list{font-size:15px;margin-top:10px;}
.list21{background:#F4F4F4;color:#666;text-transform:uppercase;font-size:15px;display:block;text-decoration:none;padding:7px 10px;margin-top:10px;border:1px solid #CCC;font-weight:bold;}
.list21:hover{text-decoration:none;}
.list21:focus{outline:none;text-decoration:none;color:#666;}
#stars-default .fa{-webkit-text-stroke: 2px #8f8f8f;
    margin-right: 3px;}
#stars-default .fa-star-half-empty{-webkit-text-stroke-width: 0px!important;
   -webkit-text-stroke-color: #AAA;margin-right:3px;}
.rating-block{background:#EAEAEA;padding:10px;}
#stars-default{position:relative;padding-top:11px;}

#stars-default2 .fa{-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #AAA;margin-right:3px;}
#stars-default2 .fa-star-half-empty{-webkit-text-stroke-width: 0px!important;
   -webkit-text-stroke-color: #AAA;margin-right:3px;}
.rating-block{background:#EAEAEA;padding:10px;}
#stars-default2{position:relative;padding-top:11px;}

.review-message{font-size:22px;}
.edit_review{background:#FFF;color:#555;padding:3px 20px;border:2px solid #555;display:inline-block;margin-top:10px;border-radius:4px;}
.edit_review:hover{text-decoration:none;background:#000;color:#FFF;}
.edit_review:focus{outline:none;text-decoration:none;color:#555;}
.review-title{display:block;font-size:16px;font-weight: 400;margin-top:10px;}
.rating-title{color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 22px;}
.review_text{margin-top:10px;background:#F4F4F4;height:110px!important;margin-bottom:10px;}
.five-start-block{background:#222222;padding-bottom:10px;}
#dropzone{background:#F4F4F4;padding:15px;border:1px solid #CCC;margin-top:10px;}
#dropzone .qq-uploader{text-align: center;}
#dropzone .qq-upload-button .uploadControl{background:#FFF;border:1px solid #CCC;padding:5px 10px;display:inline-block;}
.review-pic-list{
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    width: 80px;
}
.submit-review-block{padding-top:10px;margin-top: 10px;}
.submit-review{display:inline-block;padding:10px 15px;font-size:19px;background:#01A5EC;color:#FFF;text-transform:uppercase;font-weight:bold;border-radius:4px;}
.submit-review:hover{text-decoration:none;color:#FFF;background:#000}
.submit-review:focus{outline:none;text-decoration:none;}
.delete-review,.cancel-review{display: inline-block;padding:2px 5px;border:1px solid #eee;color:#FFF;text-transform: uppercase;border-radius:2px;margin-top:10px;}
.pushleft{float:left;}
.pushright{float:right;}
.centerpush{text-align:center;}
.padtop5{padding-top:5px;padding-bottom:0;}
.all_review_list{background: #FFF;padding:5px;margin-top:10px;}
.all_review{background:#F4F4F4;padding-top: 10px;}
.extra_border{border:1px solid #ccc;}
.review-list-img{float:left;width:20%;}
.review-list-txt{float:right;width:77%;font-size:15px;}
.black-result{display:inline-block;color:#fff;background:#2C2C2C;border-radius:3px;font-size:13px;padding:5px 7px;margin:5px 0;}
.black-result-fix {
    height: 39px;
    overflow: hidden;
}
.show_review{display:block;color:#444;}
.show_review:focus{outline:none;}
.load-more-review{margin-top:10px;}
.btn-default:hover{color:#FFF;}

.load-more-review .fa{color:#000;}
.btn-default:hover > .fa{color:#FFF;}
.lefter{float:left;text-transform:uppercase;font-weight:bold;}
.righter{float: right;
    padding-left: 11px;
    padding-top: 2px;}
.btn-default{border:1px solid #CCC;box-shadow: none;}
.review-detail{background:#EAEAEA;padding:5px 10px;margin-top:5px;}
.makeGrey{background: #EAEAEA;}
.memname{font-weight:700;font-size:15px;}
.search_name{ background: #edefec none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #444;
    display: inline-block;
    float: left;
    margin-top: 6px;
    padding: 6px 10px;
    width: 228px;}
.search_results{border: 1px solid #ccc;
    display: inline-block;
    float: right;
    line-height: 19px;
    margin-top: 6px;
    padding: 5px 12px;}
.search_results:hover{color:#CCC;}
.pdf-anc{display:inline-block;margin-right:10px;text-align:center;color:#444;font-size:12px;padding:5px;border:2px solid #ccc;border-radius:4px;margin-top:10px;}
.pdf-anc .fa{font-size:90px!important;color:#27A8E2!important;}